params {
outdir = 'results'
profile_desc = 'loreta — ONT targeted long-read analysis'
publish_dir_mode= 'copy'


// inputs
fastq = null
soi = null
ref = null
genes_bed = null
extra_ref = ''
sample_prefix = 'sample'
coverage = '0 3 5 10'
}


process {
withName: /.*/ { errorStrategy = 'terminate' }
executor = 'local'
cpus = 4
container = null
conda = null
}


profiles {
standard { includeConfig 'conf/base.config' }
docker { includeConfig 'conf/docker.config' }
singularity { includeConfig 'conf/singularity.config' }
conda { includeConfig 'conf/conda.config' }
slurm { includeConfig 'conf/slurm.config' }
}


// Entry points
workflow.onComplete { println "\n[${params.profile_desc}] done. Results in: ${params.outdir}\n" }